<style>
  /*Selector universal*/
  *{
      margin: 0;
      padding: 0;
  }
  body {
      background: linear-gradient(150deg, rgba(0, 0, 0, 0.877) 0%, rgba(127, 176, 223, 0.877) 100% );
      
  }
  .Contenido{
    background-color: rgb(255, 255, 255);
    margin: 0 10% 0 10%;
  }
</style>
<body>
  <div class="Contenido">
      <!--Cabecera-->
    <app-cabecera></app-cabecera>
    <!--Cuerpo de la pagina-->
    <app-cuerpo></app-cuerpo>
    <!--Pie de la pagina-->
    <app-pie></app-pie>
  </div>
</body>
