<style>
    /*Main*/
#main{
    display: block;
}
/*Mensaje de bienevenida*/
#Bienvenida{
    text-align: center;
}
#Bienvenida h3{
    padding: 3%;
    font-size: 3vw;
    font-family: 'Grandstander';
}
#Bienvenida p{
    padding-bottom: 5%;
    font-size: 1.4vw;
    font-family: 'Domine', serif;
}
#Valores, #Videos{
    margin:3% 0 0 0;
    text-align: center;
    display:block;
}
#Valores ol li{
    display: inline-block;
    width: 250px;
    padding: 0 0 50px 0;
    margin:20px;
    background-color:#ff58335b;
}
#Valores ol li h2{
    padding: 20px 15px 10px 15px;
    font-family: 'Grandstander', cursive;
    font-size: 20px;
}

#Valores ol li img{
    display:block;
    margin:auto;
    width: 70%;
    border-radius: 120px;
    box-shadow: 0px 0px 10px;
}
#Valores ol li p{
    text-align:center;
    margin-top:50px;
    font-size:15px;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0 10px 0 10px;
    font-weight: bold;
}
#Mensaje h3{
    margin: 5% 0 0 0;
    text-align:center;
    font-size:20px;
    font-family: 'Domine', serif;
}
@media screen and (max-width:600px){
    #Mensaje h3{
        font-size:14px;
        padding: 3%;
    }
    /*Mensaje de bienevenida*/
    #Bienvenida h3{
        font-size: 24px;
    }
    #Bienvenida p{
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 14px;
    }
}
#Slider{
    overflow:hidden;
    width: 90%;
    display: block;
    margin: auto;
}
#Slider figure{
    position: relative;
    width: 500%;
    margin:0;
    left: 0;
    animation: 50s Slider infinite;
}
#Slider figure img{
    width: 20%;
    float: left;
}
@keyframes Slider{
    0% {
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%;
    }
     50%{
        left:-200%;
     }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
@media screen and (max-width:600px){
    #Slider{
        width: 100%;
    }
}


</style>
<div id="Container">
    <div id="Bienvenida">
        <h3>¡Bienvenido!</h3>
        <p>Le damos la bienvenida a nuestra organización. <br><br>
            Explora nuestro sitio web y conoce nuestro trabajo</p>
    </div>
    <!--SLIDER de videos-->
    <div id="Slider">
        <figure>
            <img src="img/1.jpg" alt="" >
            <img src="img/2.jpg" alt="" >
            <img src="img/3.jpg" alt="" >
            <img src="img/4.jpg" alt="" >
            <img src="img/5.jpg" alt="" >
        </figure>
    </div>
        <br>
        <br>
    <!--Contenedor de mensaje-->
    <div id="Mensaje">
        <h3>"Quien alimenta a un animal hambriento alimenta su propia alma."<br>Dona con AMOR</h3>
    </div>
        <br>
        <br>
    <Main>
        <!--Contenedor de valores-->
        <div id="Valores">
            <ol>
                <li>
                    <h2>ADOPTAR</h2>
                    <img src="img/adopta.jpg" alt="">
                    <p>Adoptar es un acto de amor. Encuentra un amigo especial que siempre estará contigo.
                    </p>
                </li>
                <li>
                    <h2>PROMOVER</h2>
                    <img src="img/Promueve.jpg" alt="">
                    <p>Promover puede contribuir a los rescates. <br>
                        Ayuda a un peludito.
                    </p>
                </li>
                <li>
                    <h2>DONAR</h2>
                    <img src="img/donar.jpg" alt="">
                    <p>Cada poquito cuenta.
                        Su generosa donación ayuda a los más necesitados.
                    </p>
                </li>
                <li>
                    <h2>VOLUNTARIADO</h2>
                    <img src="img/voluntarios.jpg" alt="">
                    <p>Puedes ayudar a los amigos animales convirtiéndote en voluntario.
                    </p>
                </li>
            </ol>
        </div>
    </Main>
  </div>
