<div id="Container">
    <div id="Bienvenida">
        <h3>¡Bienvenido!</h3>
        <p>Le damos la bienvenida a nuestra organización. <br><br>
            Explora nuestro sitio web y conoce nuestro trabajo</p>
    </div>
    <!--SLIDER de videos-->
    <div id="Slider">
        <figure>
            <img src="assets/img/1.jpg" alt="" >
            <img src="assets/img/2.jpg" alt="" >
            <img src="assets/img/3.jpg" alt="" >
            <img src="assets/img/4.jpg" alt="" >
            <img src="assets/img/5.jpg" alt="" >
        </figure>
    </div>
        <br>
        <br>
    <!--Contenedor de mensaje-->
    <div id="Mensaje">
        <h3>"Quien alimenta a un animal hambriento alimenta su propia alma."<br>Dona con AMOR</h3>
    </div>
        <br>
        <br>
    <Main>
        <!--Contenedor de valores-->
        <div id="Valores">
            <ol>
                <li>
                    <h2>ADOPTAR</h2>
                    <img src="assets/img/adopta.jpg" alt="">
                    <p>Adoptar es un acto de amor. Encuentra un amigo especial que siempre estará contigo.
                    </p>
                </li>
                <li>
                    <h2>PROMOVER</h2>
                    <img src="assets/img/Promueve.jpg" alt="">
                    <p>Promover puede contribuir a los rescates. <br>
                        Ayuda a un peludito.
                    </p>
                </li>
                <li>
                    <h2>DONAR</h2>
                    <img src="assets/img/donar.jpg" alt="">
                    <p>Cada poquito cuenta.
                        Su generosa donación ayuda a los más necesitados.
                    </p>
                </li>
                <li>
                    <h2>VOLUNTARIADO</h2>
                    <img src="assets/img/voluntarios.jpg" alt="">
                    <p>Puedes ayudar a los amigos animales convirtiéndote en voluntario.
                    </p>
                </li>
            </ol>
        </div>
    </Main>
  </div>
