footer{
    background-color: #ff5833;
    width: 100%;
    bottom: 0;
    position: relative;
    padding:0 0 50px 0;
}
/*Imagen del pie de pagina*/
footer img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
}
/*Dato de direccion*/
#Direccion{
    display:block;
    padding: 10px 0 10px 0;
    width: 80%;
    margin: auto;
}
#Direccion p{
    font-size:15px;
    font-family: 'Domine', serif;
    padding: 10px 0 0 15px ;
}
/*Informacion de las redes sociales*/
#RedesSociales{
    display:block;
    width: 300px;
    margin-top: 10px;
    padding: 10px;
    margin: auto;
 }
 #RedesSociales img{
    width: 25px;
    margin-left: 5px;
 }
#RedesSociales ul li{
   font-family: 'Domine', serif;
   font-size: 14px;
    list-style:none;
    display: flex;
    margin: 10px;
}

/*Derechos de autor y redes sociales-> alineacion*/
#DerechosReservados{
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 14px;
    padding:1%;
}
/*Creditos*/
footer .Creditos{
    text-align: center;
}
footer .Creditos h6{
    text-shadow: #000000 1px 1px;
    font-family: 'Domine', serif;
    font-size: 16px;
    color: white;
}
footer .Creditos p{
    font-family: 'Domine', serif;
    margin-top: 1%;
    font-size: 15px;
}
footer .Creditos a{
    font-family: 'Grandstander';
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 252, 58);
}
footer .Creditos a:hover{
    color: rgb(161, 0, 0);
}
/*Menu responsivo*/
.responsive li {
	display: block;
}
/*Cambiamos el color del boton dependiendo de la pagina en la que se encuentra*/
.activo{
    background-color: #ac3131;
}
.activo a{
    text-shadow:0 0 5px rgb(255, 255, 255);
}