<!--Pie de pagina-->
<footer>
    <!--Logo-->
    <img src="img/Logotipo.jpg" alt="">
    <!--Informacion de la organizacion-->
    <div id="Contenedor">
        <div id="Direccion">
            <h3>Dirección</h3>
            <p class="direccion"><i class="flaticon-marcador-de-posicion"></i> Av. Beijing esq. Dorbigni acera sureste
                Cochabamba.</p>
            <p class="telefono"><i class="flaticon-llamada-telefonica"></i> Teléfono: 2308080 -77229500</p>
        </div>
    </div>
    <!--Redes sociales-->
    <div id="RedesSociales">
        <ul>
            <li class="Redes Facebook"><img src="img/facebook.svg" alt="">Bienestar Animal CBBA</li>
            <li class="Redes Instagram"><img src="img/instagram.svg" alt=""> @Bienestar_Animal</li>
            <li class="Redes Youtube"><img src="img/youtube.svg" alt="">Bienestar Animal Play</li>
        </ul>
    </div>
    <div class="Creditos">
        <h6>Desarrollado por:</h6>
        <p>Claudia Abigail Escobar Lazarte</p>
        <p>Estudiante de Ingenieria de sistemas</p><br>
        <a href="https://api.whatsapp.com/send?phone=59175465614&text=Hola!%20Quiero%20mas%20informacion%20sobre%20tu%20trabajo." target="_blank">Contactame!</a><br><br>
    </div>
    <div id="DerechosReservados">
        <div>
            <p>
                Bienestar Animal Bolivia © 2020 | All Rights Reserved <br><br>
            </p>
        </div>
    </div>
  </footer>
