<header>
    <!--Logo de la cabecera-->
    <div id="logo">
        <img src="Imagenes/Logotipo.jpg" alt="">
    </div>
    <div id="NavBuscador">
        <!--Menu de navegacion-->
        <nav>
            <ul class="Navegacion">
                <li class="Boton menu"><a href="#" onclick="MenuDesplegable()"><i class="flaticon-simbolo-de-menu-de-tres-lineas-paralelas"></i> MENU</a></li>
                <li class="Boton n1 activo"><a href="#">HOME</a></li>
                <li class="Boton n1"><a href="#">SOBRE NOSOTROS</a> </li>
                <li class="Boton n1 adopcion"><a href="#">ADOPCION<i class="flaticon-flecha-hacia-abajo-para-navegar"></i></a> 
                    <ul>
                        <li></li>
                        <li class="desplegable"><a href="#">REFUGIO</a></li>
                        <li class="desplegable"><a href="#">ADOPTADOS</a></li>
                    </ul>
                </li>
                <li class="Boton n1"><a href="#">DONACIONES</a> </li>
                <li class="Boton n1"><a href="#">CONTACTO<i class="flaticon-email"></i></a></li>
            </ul>
        </nav>
    </div>
  </header>